* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 98.7vw;
    height: 100vh;
}

header {
    width: 100%;
    background-image: url(../Imagens/banner.jpg);
    height: 150px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    ;
}

header img {
    width: 100%;
}



header h1 {
    width: 100%;
    color: white;
    text-align: center;
    padding-top: 40px;
    font-size: 30px;
    font-weight: bold;
    text-shadow: 2px 2px 2px black;
}

header p {
    color: white;
    text-align: center;
    padding-top: 20px;
    font-weight: bold;
    text-shadow: 2px 2px 2px black;
}

section.modelosmoto {
    width: 96vw;
}

section.modelosmoto h1 {
    text-align: center;
    padding: 50px;
    font-size: 40px;
    font-weight: bold;
}

section.modelosmoto .box-modelo {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

section.modelosmoto .Cg-160 {
    width: 300px;
    height: 200px;
    background-size: cover;
    background-image: url(../Imagens/cg.jpeg);
    cursor: pointer;
    margin-bottom: 20px;
}

section.modelosmoto div.Cg-160:hover,
div.Factor-150:hover,
div.CB-Twister-250:hover {
    transform: scale(1.1);
}

.modelo-selecionada {
    transform: scale(1.1);
    /* Aplica zoom ao modelo selecionado */
    border: 2px solid black;
    /* Define a borda preta */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    /* Adiciona um leve efeito de sombra */
    transition: transform 0.3s, border 0.3s;
    /* Adiciona uma transição suave */
}

section.modelosmoto div.Factor-150 {
    width: 300px;
    height: 200px;
    background-size: cover;
    background-image: url(../Imagens/factor.jpg);
    cursor: pointer;
    margin-bottom: 20px;
}

section.modelosmoto div.CB-Twister-250 {
    width: 300px;
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../Imagens/twister.png);
    cursor: pointer;
    margin-bottom: 20px;
}




section.modelosmoto .nomemodelo {
    display: flex;
    margin-top: 20px;
    font-weight: bolder;
    font-size: 20px;
    justify-content: space-around;
    flex-direction: row;
    text-shadow: 1px 0px 1px black;
    cursor: pointer;
}

/*Itens da Manutenção*/

section.manutencao {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 50px;
}

section.manutencao h1 {
    text-align: center;
    padding: 20px;
    font-weight: bold;
}

section.manutencao p {
    padding: 10px;
}

div.painel-oleo {
    width: 200px;
    height: auto;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 3px 3px 10px black;
    background-color: rgb(21, 21, 21);
    color: white;
    font-weight: bold;
}

div.painel-relacao {
    width: 200px;
    height: auto;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 3px 3px 10px black;
    background-color: rgb(21, 21, 21);
    color: white;
    font-weight: bold;
}

div.painel-combustivel {
    width: 200px;
    height: auto;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 3px 3px 10px black;
    background-color: rgb(21, 21, 21);
    color: white;
    font-weight: bold;
}

div.painel-pneu {
    width: 200px;
    height: auto;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 3px 3px 10px black;
    background-color: rgb(21, 21, 21);
    color: white;
    font-weight: bold;
}

div.precos {
    display: flex;
    justify-content: space-around;
    background-color: rgb(21, 21, 21);
    height: auto;
    width: 100vw;
}

div.precos1 {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

div.precos2 {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

div.precos3 {
    display: flex;
    flex-direction: column;
}

div.quilometragem-diaria {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: auto;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 3px 3px 10px black;
    background-color: rgb(21, 21, 21);
    color: white;
    font-weight: bold;
}

div.quilometragem-diaria label {
    margin: 20px
}

div.quilometragem-diaria input {
    width: 150px;
    height: 30px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    margin: 20px
}


div.oleo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: auto;
    margin: auto;
    margin-bottom: 20px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 3px 3px 10px black;
    background-color: rgb(21, 21, 21);
    color: white;
    font-weight: bold;
}

div.oleo label {
    margin: 20px
}

div.oleo input {
    width: 150px;
    height: 30px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    margin: 20px
}


div.pneus {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: auto;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 3px 3px 10px black;
    background-color: rgb(21, 21, 21);
    color: white;
    font-weight: bold;
}

div.pneus label {
    margin: 20px
}

div.pneus input {
    width: 150px;
    height: 30px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    margin: 20px
}


div.combu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: auto;
    margin: auto;
    margin-bottom: 20px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 3px 3px 10px black;
    background-color: rgb(21, 21, 21);
    color: white;
    font-weight: bold;
}

div.combu label {
    margin: 20px
}

div.combu input {
    width: 150px;
    height: 30px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    margin: 20px
}


div.rela {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: auto;
    margin: auto;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 3px 3px 10px black;
    background-color: rgb(21, 21, 21);
    color: white;
    font-weight: bold;
}

div.rela label {
    margin: 20px
}

div.rela input {
    width: 150px;
    height: 30px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    margin: 20px
}


div.gastos> button { 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    margin: 20px;
    background-color: rgb(86, 86, 90);
    color: white;
    cursor: pointer;
}

div.gastos> button:hover {

    color: black;
    background-color: rgb(162, 238, 87);
    transform: scale(1.1);
    /* Aplica zoom ao modelo selecionado */
    border: 2px solid black;
    /* Define a borda preta */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    /* Adiciona um leve efeito de sombra */
    transition: transform 0.3s, border 0.3s;
    /* Adiciona uma transição suave */
}

div.buttons button {
    width: 150px;
    height: 30px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    margin: 20px;
    margin-left: 20px;
    background-color: rgb(86, 86, 90);
    color: white;
    cursor: pointer;
}


div.buttons span {
    text-align: center;
}

footer{
    text-align: center;
    padding: 20px;
    font-weight: bold;
    background-color: black;
    color: white;
}

footer a{
    color: white;
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
    font-size: 17px;
}

/* media query */

@media screen and (max-width: 700px) {
    div.precos {
        flex-direction: column;
        height: auto;
        justify-content: center;
        align-items: center;
    }

    div.rela,
    div.combu,
    div.oleo,
    div.pneus,
    div.quilometragem-diaria {
        margin: 20px;
    }

    div.gastos button{
        margin-left: 40px;
    }
}

@media screen and (max-width: 900px) {


    body {
        width: 96vw;
    }

    div.quilometragem-diaria {
        width: 200px;
        flex-direction: column;
        height: auto;
    }

    section.modelosmoto .box-modelo {
        flex-direction: column;
        align-items: center;
    }

    section.modelosmoto .nomemodelo {
        display: none
    }

    
}

    @media screen and (max-width: 1150px) {
        section.manutencao {
            flex-direction: column;
            align-items: center;
        }

        .painel-relacao {
            margin-bottom: 20px;
        }

        .painel-pneu {
            margin-bottom: 20px;
        }
        .painel-combustivel {
            margin-bottom: 20px;
    }
}